<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function logout() {
            fetch('/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
        }
    </script>
</head>
<body>
    
    <div>
    <h1>Home dashboard 1</h1>
    <h2>Dashboard admin 1</h2>
    <button onclick="logout()">Logout</button>
    </div>


    
</body>
</html>