<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">  </head>
    <!-- script to close session(end) -->
    <script>
        function logout() {
            fetch('/auth/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
        }
    </script>
</head>
<body>
    
    <!-- <div>
    <h1>Home dashboard 1</h1>
    <h2>Dashboard admin 1</h2>
    <button onclick="logout()">Logout</button>
    </div> -->
    <header class="header">
        <h1>Admin Dashboard</h1>
        <button onclick="logout()">Logout</button>
    </header>

    <nav class="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Users</a></li>
            </ul>
    </nav>

    <main class="content">
        <h2>Dashboard Content</h2>
        </main>

</body>
</html>